---
---
#a-title > h1:nth-child(1) { 
  font-size: 0.8em;
  margin-bottom: 2px;
  line-height: initial;
}
div.container:nth-child(1) > h2:nth-child(2) {
  font-size: 0px;
}
a.btn.btn-github {
  font-size: 0.8em;
  line-height: initial;
}

table, td, th {
  border: 1px solid gray;
  border-collapse: collapse;
}

a:link {color:#fff}
a:hover, a:visited:hover {color:#aaa}
a:visited {color:#aaa}
body{
  color:#fff;
  background:#000;
  margin:1em auto;
  max-width:40em;
  padding:0 .62em;
  font:1.2em/1.62 serif;
}
h1,h2,h3 {
  line-height:1.2;
}
@media print{
  body{
    max-width:none
  }
}
img {max-width: 100%; height:auto;}

blockquote {
  border-left: 4px solid gray;
  margin: 1em 0;
}
blockquote > * {
  margin-left: 1em;
}
